* {
  margin: 0;
  padding: 0;
}

.main-container {
  width: 35%;
  margin: 20px auto;
  box-shadow: 1px 2px 5px 5px rgb(185, 183, 183);
  border-radius: 10px;
}

.title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(214, 212, 212);
}

#rotate-arrow {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}

h3 {
  padding: 10px;
}

input[type="text"] {
  display: flex;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  border: none;
  outline: none;
}

input::placeholder {
  font-style: italic;
}

#form {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid rgb(214, 212, 212);
}

ul {
  list-style-type: none;
}

ul li {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgb(214, 212, 212);
  font-weight: normal;
  column-gap: 10px;
}

.tasks {
  display: block;
}

.checkbox {
  margin-left: 10px;
  width: 20px;
}

.each-task-btn {
  border: none;
  width: 20px;
  background-color: inherit;
  background-image: url(./assets/dotsLoading.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.trash {
  display: none;
  border: none;
  width: 20px;
  background-color: inherit;
  background-image: url(./assets/trash.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

#clear {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  height: 40px;
}
